.modify-editor {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .field-container {
        width: 25rem;
    }

    .remove-doc {
        color: #777;
        cursor: pointer;
        align-self: flex-end;

        &:hover {
            color: #aaa;
        }
    }
}
