.chosen-chapters {
    &__list {
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 2rem 0;
        height: 30rem;
        width: 100%;
        overflow: auto;

        &__item {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            background-color: #fff;
            width: 18rem;
            box-shadow: var(--default-shadow);
            padding: 1.1rem;
            border-radius: 0.5rem;
            cursor: default;
            margin: 0.5rem 0;

            &__title {
                font-size: 1.2rem;
                color: #888;
            }

            &__body {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__label {
                    font-size: 1.4rem;
                    justify-self: center;
                }

                &--close {
                    font-size: 1.5rem;
                    display: none;
                    justify-self: flex-end;
                    cursor: pointer;
                }
            }

            &:hover > &--close {
                display: block;
            }
        }
    }
}
