.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 1rem;
    color: #fff;
    box-shadow: var(--default-shadow);
    background-color: var(--main-color);
    height: 6rem;
}
