:root {
    --text-size: 1.6rem;
    --default-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
    --default-shadow-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --main-color: #3880eb;
    --alert-color: #cf0808;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    direction: rtl;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    font-size: var(--text-size);
}

.App {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    margin-bottom: 5rem;
}

.main-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    row-gap: 3rem;
    width: 80%;
}

@media (max-width: 1024px) {
    .main-container {
        width: 100%;
    }
}
