.main-block {
    width: 80%;
    align-self: center;
    box-shadow: var(--default-shadow);
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__create-button {
        align-self: flex-start;
    }

    &__body {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 1024px) {
    .mainBlock {
        width: 100%;
        padding: 1rem;
    }
}
