.main-block {
    box-shadow: var(--default-shadow);
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__top-bar {
        display: flex;
        justify-content: space-between;

        .display-staged-sims {
            display: none;
        }

        &__create-button {
            align-self: flex-start;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: 2fr 1fr;

        &__no-doc {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.1rem;
            color: #777;
            background-color: #ddd;
            border-radius: 0.5rem;
        }
    }
}

@media (max-width: 1024px) {
    .main-block {
        padding-right: 0.5rem;
        padding-left: 0.5rem;

        .display-staged-sims {
            display: flex;
        }

        &__body {
            grid-template-columns: 1fr;
        }
    }
}
