.create-sims {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__create-button {
        align-self: flex-start;
    }

    &__body {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
